<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dataset Selection Tool</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147646079-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-147646079-1');
    </script>
  </head>
  
  <body>
    <div id="wrapper">
      <div id = "content-wrapper" class="d-flex flex-column">
        <div id="content">

          <div class="container-fluid">

            <div class="container">
              <div class="row mt-4">
                <div class="col-md-12 text-center">
                  <h1 class="h2 text-gray-800">{{dataset_name}} Dataset</h1>
                </div>
              </div>
        
              <hr/>

              <div class="row">
                <div class="col-md-6">
                  <button type="button" class="btn btn-sm btn-light" id="prevBtn">
                    <i class="fa fa-arrow-left"></i> Prev
                  </button>
                </div>
                <div class="col-md-6">
                  <button type="button" class="btn btn-sm btn-primary float-right" id="exportBtn">
                    <i class="fa fa-download text-white-50"></i> Export Dataset
                  </button>
                </div>
              </div>
        
              <div id="image-selection-container">

                <div class="row mt-2">
                  <div class="col-md-12 ml-2">
                    <p class="text-gray-900 mb-2" id="image-details"></p>
                  </div>
                </div>

                <div class="row mb-4">
                  <div class="col-md-12">
                    <div class="card shadow h-100 py-2">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-12 mb-2" id="image-status-div">
                          </div>
                        </div>
                        <div class="row no-gutters justify-content-center align-items-center">
                          <div id="image-div" style="height: 400px;">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row no-gutters justify-content-center align-items-center">
                  <button type="button" class="btn btn-danger mr-2" id="noBtn">
                    <i class="fa fa-times text-white-50"></i> Nope
                  </button>
                  <button type="button" class="btn btn-success ml-2"id="yesBtn">
                    <i class="fa fa-check text-white-50"></i> Pick
                  </button>
                  <button type="button" class="btn btn-light ml-2" id="mayBeBtn"> Maybe</button>
                </div>
              </div>

              <div id="image-selection-completion-container" style="display: none" class="mt-4">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center mb-4 mt-4">
                          <div class="col-md-12 text-center">
                            <i class="fa fa-check-double fa-10x text-success"></i>
                          </div>
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-md-12 text-center">
                              <p class="lead text-gray-800 mb-5">There is nothing left to do!!</p>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <footer class="sticky-footer bg-white mt-4">
              <div class="container my-auto">
                <div class="copyright text-center my-auto">
                  <span>Creator © Udbhav 2019</span>
                </div>
              </div>
            </footer>
          </div>
        </div>
      </div>
    </div>
    
  </body>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap-notify.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</html>
